.tabby10px {
  margin-left: 10px;
}
.fontsizesmall {
  font-size: small;
}
.border {
  border: groove 1px;
  width: fit-content;
}
.reactIndex {
  margin-bottom: 2px;
  width: 120px;
}
.mouseHover {
  padding: 150x;
  transition: transform 0.3s;
  font-size: 13px;
  font-family: monospace;
  color: white;
  margin-left: 10px;
}
.mouseHover:hover {
  font-size: 14px;
  color: white;
}
td {
  border: solid 1px;
  width: 500px;
  height: 500px;
}
.squareBox {
  width: 50px;
  height: 50px;
  border: 1px;
  border-style: groove;
  margin-left: 50px;
  margin-top: 20px;
  box-shadow: 5px 5px rgb(41, 4, 4);
  display: flex;
  justify-content: center;
  align-items: center;
}
