.tabby10px {
  margin-left: 10px;
}
.fontsizesmall {
  font-size: small;
}
.border {
  border: groove 1px;
  width: fit-content;
}
.reactIndex {
  margin-bottom: 2px;
  width: 120px;
}
.mouseHover {
  padding: 150x;
  transition: transform 0.3s;
  font-size: 13px;
  font-family: monospace;
  margin-left: 10px;
}
.mouseHover:hover {
  font-size: 14px;
}

td {
  border: solid 1px;
  width: 500px;
  height: 500px;
}
