h1,
p {
  font-family: 'Franklin Gothic';
  /* border: 1px; 
   border-style: solid; */
  width: fit-content;
}
.employeeNameCls {
  /*border: 1px;
  border-style: solid;*/
  width: fit-content;
  height: fit-content;
  margin-bottom: -20px;
}
